img {
  max-width: 100%;
}
.navbar--paragraph {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .navbar--paragraph {
    font-size: 2rem;
  }
}
.new--arrival--paragraph {
  max-width: 600px;
}
#watch {
  width: 400px;
}
/* for mobile*/
.showcase--cards--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
/* for tablet*/
@media screen and (min-width: 768px) {
  .showcase--cards--container {
    grid-template-columns: 1fr 1fr;
  }
}
/* for desktop*/
@media screen and (min-width: 1000px) {
  .showcase--cards--container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#socail--links {
}
